<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Nacimiento</title>
  </head>
  <body>
    <h1>La fecha mágica</h1>
    <p>Cuenta la leyenda que el 6 de mayo de 2009 llegó a este mundo una hechicera muy poderosa con un gran poder interior y una inteligencia superior. Su nombre era Amelia, y desde temprana edad mostró habilidades mágicas sorprendentes, capaces de dejar boquiabiertos incluso a los magos más experimentados.</p>

    <p>A medida que Amelia crecía, sus poderes continuaban evolucionando y perfeccionándose. Los ancianos del pueblo predecían que un día, Amelia se convertiría en una figura clave en el mundo mágico y traería un cambio significativo a la comunidad.</p>

    <p>Tiempo después, Amelia conoció a su mascota ideal, un gran peluche blanco mágico llamado Lumino. Lumino poseía habilidades únicas, como la capacidad de iluminar la oscuridad con un resplandor reconfortante y brindar sabiduría en momentos de duda. Juntos, Amelia y Lumino comenzaron a embarcarse en emocionantes aventuras, enfrentándose a desafíos y resolviendo misterios en el mundo mágico.</p>

    <p>Un día, Amelia y Lumino decidieron visitar la legendaria biblioteca mágica llamada "Librosus Infinitum", ubicada en una montaña oculta y rodeada de misterios. La biblioteca albergaba una vasta colección de libros mágicos y conocimientos, y tenía una característica única: cada vez que se retiraba un libro, otro aparecía mágicamente en su lugar.</p>

    <p>Amelia y Lumino habían visitado esta biblioteca en varias ocasiones, siempre en busca de nuevos conocimientos y secretos para mejorar sus habilidades mágicas y enfrentar nuevos desafíos. En esta ocasión, sintieron que era hora de regresar y ver si la biblioteca tenía un nuevo libro esperándolos.</p>

    <p>Al entrar en "Librosus Infinitum", Amelia y Lumino fueron recibidos por un suave resplandor que emanaba de los estantes, iluminando sus corazones y mentes. Comenzaron a recorrer los pasillos, observando cómo los libros cambiaban y aparecían en los estantes casi como si la biblioteca estuviera viva.</p>

    <p>De repente, un libro de aspecto antiguo y con un aura especial llamó la atención de Amelia. Ella lo tomó con cuidado y lo abrió. El libro contenía información sobre un hechizo olvidado que permitiría a los magos comunicarse con criaturas mágicas de todo el mundo. Intrigada y emocionada por el descubrimiento, Amelia decidió estudiar y aprender el hechizo.</p>

    <p>Después de semanas de práctica y estudio, Amelia y Lumino dominaron el hechizo y pudieron entablar conversaciones con criaturas mágicas que nunca antes habían conocido. Esta habilidad les permitió forjar alianzas y aprender más sobre el mundo mágico, ampliando su comprensión y sabiduría.</p>

    <p>a visita a "Librosus Infinitum" demostró ser una experiencia valiosa y enriquecedora para Amelia y Lumino, y les recordó que siempre hay nuevos conocimientos por descubrir y lecciones por aprender. Con cada visita a la biblioteca mágica, Amelia continuaba creciendo en sabiduría y bondad, acercándose cada vez más a convertirse en la heroína que todos esperaban que fuera.</p>

    <p>A pesar de su gran poder e inteligencia, Amelia entendía que también tenía defectos en su comportamiento que debía mejorar. A lo largo de sus aventuras con Lumino, Amelia fue aprendiendo a ser más humilde, compasiva y sabia. Poco a poco, fue transformándose en una persona más consciente y responsable.</p>

    <p>Nuestra heroína sabe que debe mejorar su comportamiento y poco a poco lo está haciendo. Todos esperan que Amelia siga mejorando y se convierta en una persona sabia que ayude a mejorar nuestro mundo mágico. Con el tiempo y la guía de Lumino, no hay duda de que Amelia alcanzará su verdadero potencial y dejará una huella indeleble en el corazón de todos aquellos que la rodean.</p>

    <p>Obviamente en esta historia esta el siguiente acertijo, ¿serás capaz de decifralo?</p>

    <button onclick="callFunction()">quieres más ayuda!</button>
    <div id="result"></div>

    <br/>

    <form action="/" method="get">
      <button type="submit">Regresar al inicio</button>
    </form>
  </body>

<script>
    function callFunction() {
        document.getElementById('result').innerHTML = "Mmmmmmm..... parece que la pista solo sale cada 10 minutos ... debes estar atenta para que la puedas atrapar!!!!";
        fetch('/call_function2');
    }
</script>
</html>
