<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Relojiu Temporis.py</title>
  </head>

  <body>
    <h1>Relojiu Temporis</h1>

    <p>Disculpa, ¿podrías decirme la hora con tu Relojiu Temporis? Me gustaría asegurarme de no llegar tarde a mi próxima clase de Pociones.</p>

    <button onclick="callFunction()">Dar la hora</button>
    <div id="result"></div>

    <form action="/" method="get">
      <button type="submit">Regresar al inicio</button>
    </form>
  </body>

<script>
    function callFunction() {
        document.getElementById('result').innerHTML = "Puedes ver la hora en el Relojiu Temporis";
        fetch('/call_function');
    }
</script>
</html>