<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Alfabeto</title>
  </head>
  <body>
    <h1>+$1 $+5/1 &9)-1a</h1>

    <p>65@9394145)</p>
    <p>@@571)-5 1@ 135(-90% 69$1@, )%@% -95$5) *+5 5)31$51( 5@ *( ; &%$5( @1 3%$-(1)5$1</p>
    <p>&+@)1 5@ 2%-%$ &1(1 3%$%35(@1</p>
    <p>FELIZ CUMPLEAÑOS</p>
    <p></p>
    <p></p>

    <button onclick="callFunction()">3%$-(1)5$1</button>
    <div id="result"></div>

    <br/>

    <form action="/" method="get">
      <button type="submit">(57(5)1( 1@ 9$939%</button>
    </form>
  </body>

<script>
    function callFunction() {
        document.getElementById('result').innerHTML = "5)-1 &9)-1 1&1(35 3141 *+9$35 #9$+-%) @1 &1395$391 5) @1 #50%( 1(#1 45 +$ #17%";
        fetch('/call_function3');
    }
</script>
</html>
